header {
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    background-size: 400px;
    background-color: #4EA0FF;
    margin: 0px;
    padding: 0px;
}

#logo {
    height: 50px;
    padding-top: 45px;
    padding-left: 5px;
}



.monitor{
    background-image: url("../img/monitor.jpg");
    width: 262px;
    height: 178px;
}
.grafico{
    background-image: url("../img/graph.jpg");
    width: 262px;
    height: 178px;
    margin-bottom: 3%;
}
main {
    width: 100%;
}
  
/* tabella */
.wid1 {
    width: 50%;
}

.wid2{
    width: 25%;
}
  
.tab1 {
    margin-top: 20px;
    text-align: left;
    table-layout:auto;
    width:100%;
    height:auto;
    border-collapse: collapse;
}
  
thead {
    color: white;
    background-color: #20A9E5 ;
}
  
.t1 {
    background-color: #B1E5F2 ;
}
/* /tabella */
